---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<!-- version marker : github new repo -->
<DefaultLayout title="Home" showChat={false}>
  <section class="workspace-content">
    <!-- Paste your Home view HTML here -->
  </section>
</DefaultLayout>
